BEGIN;
--
-- Create model Contract
--
CREATE TABLE "app_contract" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "contract_number" varchar(50) NOT NULL UNIQUE, "contract_type" varchar(20) NOT NULL, "start_date" date NOT NULL, "end_date" date NULL, "signed_date" date NOT NULL, "salary" real NOT NULL, "salary_coefficient" real NOT NULL, "allowances" real NOT NULL, "job_description" text NOT NULL, "workplace" varchar(300) NOT NULL, "working_hours" varchar(100) NOT NULL, "terms" text NOT NULL, "benefits" text NOT NULL, "insurance_info" text NOT NULL, "status" varchar(20) NOT NULL, "termination_reason" text NOT NULL, "termination_date" date NULL, "notes" text NOT NULL, "contract_file" varchar(100) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "created_by_id" bigint NULL REFERENCES "app_employee" ("id") DEFERRABLE INITIALLY DEFERRED, "employee_id" bigint NOT NULL REFERENCES "app_employee" ("id") DEFERRABLE INITIALLY DEFERRED, "job_title_id" bigint NULL REFERENCES "app_jobtitle" ("id") DEFERRABLE INITIALLY DEFERRED, "renewed_from_id" bigint NULL REFERENCES "app_contract" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE INDEX "app_contract_created_by_id_111b86d9" ON "app_contract" ("created_by_id");
CREATE INDEX "app_contract_employee_id_394da1f3" ON "app_contract" ("employee_id");
CREATE INDEX "app_contract_job_title_id_16932dbd" ON "app_contract" ("job_title_id");
CREATE INDEX "app_contract_renewed_from_id_835eb858" ON "app_contract" ("renewed_from_id");
COMMIT;
