{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="index3.html" class="brand-link">
    <img src="{% static "dist/img/AdminLTELogo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">HR Management</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{% static "dist/img/Logo-TITOPS.png" %}" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="#" class="d-block">TITOPS VIỆT NAM</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item {% if request.path == '/' %}active{% endif %}">
          <a href="/" class="nav-link {% if request.path == '/' %}active{% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Tổng quan</p>
          </a>
        </li>
        <li class="nav-item has-treeview {% if '/department' in request.path or '/job_title' in request.path or '/add_employee' in request.path or '/employee_list' in request.path %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if '/department' in request.path or '/job_title' in request.path or '/add_employee' in request.path or '/employee_list' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Nhân viên
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/department" class="nav-link {% if '/department' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Phòng ban</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/job_title" class="nav-link {% if '/job_title' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Chức vụ</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link {% if '/contract' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Hợp đồng</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/add_employee" class="nav-link {% if '/add_employee' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Thêm mới nhân viên</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/employee_list" class="nav-link {% if '/employee_list' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Danh sách nhân viên</p>
              </a>
            </li>
          </ul>
        </li>

        <!--Quản lý lương -->
        <li class="nav-item has-treeview {% if '/payroll' in request.path %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if '/payroll' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Quản lý lương
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/payroll/calculate/" class="nav-link {% if '/payroll/calculate' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Tính lương</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/payroll/manage/" class="nav-link {% if '/payroll/manage' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Bảng lương</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Chấm công -->
        <li class="nav-item has-treeview {% if '/attendance' in request.path %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if '/attendance' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Chấm công
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="/attendance/add/" class="nav-link {% if '/attendance/add' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Thêm bảng chấm công</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="/attendance/manage/" class="nav-link {% if '/attendance/manage' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Quản lý bảng chấm công</p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Khen thưởng - Kỷ luật -->
        <li class="nav-item has-treeview {% if '/reward' in request.path or '/discipline' in request.path %}menu-open{% endif %}">
          <a href="#" class="nav-link {% if '/reward' in request.path or '/discipline' in request.path %}active{% endif %}">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
              Khen thưởng - Kỷ luật
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a href="#" class="nav-link {% if '/reward' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Khen thưởng</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link {% if '/discipline' in request.path %}active{% endif %}">
                <i class="far fa-circle nav-icon"></i>
                <p>Kỷ luật</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>